/* CONFIGURACIÓN GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FRASE INICIAL */
#frase-inicial-promociones{
    margin: 1em 0.7em 1.4em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.85em;
    text-align: center;
    color: #171717;
}

/* CARRUSEL */
#contenedor-principal-promociones{
    height: 18.7em;
    margin-bottom: 4.8em;
}

.img-promocion-carrusel{
    height: 18.7em;
}