/* CONFIGURACIÓN GENERAL */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* HEADER */
    header{
        background-color: black;
        padding: 18px 10px;
        position: sticky;
        top: 0;
        z-index: 1000;
        color: white;
    }
    
    .material-icons{
        color: #94C11F;
    }
    
    .opcion{
        font-family: 'Open Sans Condensed', sans-serif;   
        font-size: 22px;
    }
    
/* BODY */
    /* CAROUSEL */
    .carousel{
        margin-top: 1.2em;
        height: 13.1em;
    }

    .img-carousel{
        height: 13.1em;
    }

    /* FRASE INICIAL */
    #h1-inicial-1{
        margin: 1em 0.7em 0.9em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.85em;
        text-align: center;
        color: #171717;
    }

    /* CARRUSEL DE MENU */
    #carousel-menu{
        height: 22.5em;
        padding: 0 3em 0;
    }

    .img-menu{
        height: 22em;
        cursor: pointer;
    }
    
    /* SEGUNDA FRASE */
    #h1-inicial-2{
        margin: 1em 0.1em 0.9em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.6em;
        text-align: center;
        color: #171717;
    }

    /* PROMOCIONES */
    .promociones{
        display: flex;
        height: 21.3em;
        align-items: center;
        justify-content: center;
    }
    
    /* ESPECIALIDADES */
    .fondo-movil1{
        background-image: url(http://www.sushiroll.com.mx/media/1184/fondo_especialidades2.png);
        height: 10.9em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.8em;
        text-align: center;
        color: #171717;
        margin-top: 1.5em;
        padding-top: 3.1em;
        animation: fondo 13s infinite linear;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fondo-movil2{
        background-image: url(http://www.sushiroll.com.mx/media/1184/fondo_especialidades2.png);
        height: 15.3em;
        animation: fondo 13s infinite linear;
    }

    @keyframes fondo{
        100%{
            background-position-x: 1000px;
        }
    }

    #carousel-especialidades{
        margin-top: 1.7em;
        width: 95%;
    }

    .img-especialidad{
        width: 8em;
    }

    /* TERCER FRASE */
    #h1-inicial-3{
        margin: 1em 0.1em 2em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.6em;
        text-align: center;
        color: #171717;
    }

    /* SERVICIO A DOMICILIO */
    .servicio-domicilio{
        margin-top: 5em;
    }
    #img-domicilio{
        width: 100%;
        
    }

    /* FRASE REDES SOCIALES */
    #h1-inicial-4{
        margin: 3em 0.1em 1.3em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.6em;
        text-align: center;
        color: #171717;
    }

    /* REDES SOCIALES */

    #contenedor-fb{
        display: flex;
        justify-content: center;
    }

    #contenedor-tw{
        display: flex;
        justify-content: center;
    }

/* FOOTER */
#pre-footer{
    display: none;
}
#footer{
    background-color: black;
    height: 10.4em;
    color: #949494;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Martel Sans', sans-serif;
}